<h1 class="favTitle">Saved Questions</h1>

<br>

<h4 class="logName" *ngIf="loggedIn == true">Hey {{user.firstName}}!</h4>

<br>

<div>
    <table>
        <tr *ngFor="let f of FavoritesListResult">
            <td>
                <div *ngFor="let q of QuestionsAnswersList">
                    <div *ngIf="f.questionId == q.questionId" class="favorite-item">
                        <p class="question">{{ q.questions }}</p>
                        <p class="answer">{{ q.answers }}</p>
                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-outline-dark delete" (click)="deleteFav(f.favoriteId)">
                    X
                </button>
            </td>
        </tr>
    </table>
</div>


