<h1 class="titleName">Study Buddy</h1>

<br />

<table>
  <thead>
    <tr>
      <th>Questions</th>
      <th>Answers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let q of QuestionsAnswersList">
      <td>{{ q.questions }}</td>
      <td *ngIf="q.toggleAnswer" class="green-answer">{{ q.answers }}</td>
      <td class="vertical-line">
        <button class="btn btn-primary btn-sm ans" (click)="showAnswer(q)">
          {{ q.toggleAnswer ? "Hide Answer" : "Show Answer" }}
        </button>
      </td>
      <td *ngIf="isFavorite(q)">
        <button class="btn btn-primary btn-sm fav" (click)="toggleFavorite(q, user.id)">
          Remove from Favorites
        </button>
      </td>
      <td *ngIf="!isFavorite(q)">
        <button class="btn btn-primary btn-sm fav" (click)="toggleFavorite(q, user.id)">
          Add to Favorites
        </button>
      </td>
      <td *ngIf="loggedIn">
        <button class="btn btn-outline-dark delete" (click)="DeleteQuestion(q.questionId)">
          X
        </button>
      </td>
    </tr>
  </tbody>
</table>


<br />
<br />

<div class="container">
  <div class="left-column">
<form #questionForm="ngForm">
    <h4>Add a Question To the Study List</h4>
    <input
      type="text"
      [(ngModel)]="Question.questions"
      name="questions"
      placeholder="Question"
      required
    />
    <br />
    <input
      type="text"
      [(ngModel)]="Question.answers"
      name="answers"
      placeholder="Answer"
      required
    />
    &nbsp;
    <button class="btn btn-outline-dark btn-sm" (click)="newQuestion(Question)" [disabled]="questionForm.invalid">
      Add Question
    </button>
    <p class="disclaimer" *ngIf="questionForm.invalid">* Both fields are required.</p>
  </form>
  <br />
</div>

  <div class="right-column">
    <app-dictionary></app-dictionary>
  </div>
</div>

