<h1>C# / SQL / Angular Questions</h1>

<br>

<table>
    <tr *ngFor="let q of QuestionsAnswersList">
      <td>{{ q.questions }}</td>
      <br>
      <div *ngIf="q.toggleAnswer">
        {{ q.answers }}
      </div>
      <td>
        <button class="btn btn-outline-dark ans" (click)="showAnswer(q)">
          {{ q.toggleAnswer ? 'Hide Answer' : 'Show Answer' }}
        </button>
      </td>
      <td>
        <button class="btn btn-outline-dark" (click)="AddFavorite(q)">
          Add to Favorites
        </button>
      </td>
      <td>
        <button class="btn btn-outline-dark delete" (click)="DeleteQuestion(q.questionId)">
          Delete
        </button>
      </td>
    </tr>
  </table>
  

<br>

<form>
<h4>Add a Question?</h4>
    <input type="text" [(ngModel)]="Question.questions" name="questions" placeholder="Question">
    <br>
    <input type="text" [(ngModel)]="Question.answers" name="answers" placeholder="Answer"> &nbsp; 
    <button class="btn btn-outline-dark" (click)="newQuestion(Question)">Add Question</button>
</form>