<h1 class="titleName">Study Buddy</h1>

<br />

<table>
    <th>Questions</th>
  <tr *ngFor="let q of QuestionsAnswersList">
    <td>{{ q.questions }}</td>
    <br /> 
    <div *ngIf="q.toggleAnswer">
    {{ q.answers }}
    </div>
    <td>
    <button class="btn btn-primary btn-sm ans" (click)="showAnswer(q)">
        {{ q.toggleAnswer ? "Hide Answer" : "Show Answer" }}
    </button>
    </td>
    <!-- <td *ngIf="newMethod(q) == true">
        <button class="btn btn-outline-dark fav" (click)="toggleFavorite(q, user.id)">
           {{ isFavorite(q) ? 'Remove from Favorites' : 'Add to Favorites' }} 
         
        </button>
      </td> -->
    <!-- <div *ngFor="let f of FavoritesList"> -->
    <div>
      <td *ngIf="isFavorite(q) == true">
        <button
          class="btn btn-primary btn-sm fav"
          (click)="toggleFavorite(q, user.id)"
        >
          Remove from Favorites
        </button>
      </td>
      <td *ngIf="isFavorite(q) == false ">
        <button
          class="btn btn-primary btn-sm fav"
          (click)="toggleFavorite(q, user.id)"
        >
          Add to Favorites
        </button>
      </td>
    </div>
    <td>
      <button
        class="btn btn-outline-dark delete"
        (click)="DeleteQuestion(q.questionId)"
      >
        Delete
      </button>
    </td>
  </tr>
</table>

<br />
<br />

<form #questionForm="ngForm">
    <h4>Add a Question To the Study List</h4>
    <input
      type="text"
      [(ngModel)]="Question.questions"
      name="questions"
      placeholder="Question"
      required
    />
    <br />
    <input
      type="text"
      [(ngModel)]="Question.answers"
      name="answers"
      placeholder="Answer"
      required
    />
    &nbsp;
    <button class="btn btn-outline-dark btn-sm" (click)="newQuestion(Question)" [disabled]="questionForm.invalid">
      Add Question
    </button>
    <p class="disclaimer" *ngIf="questionForm.invalid">* Both fields are required.</p>
  </form>
  <br />