/* Add the following styles to your external CSS file */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    font-size: 25px;
    text-align: center;
    font-family: 'Schoolbell', cursive;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    text-align: left;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
}

button.ans:hover {
    background-color: #4ee658; /* Darker blue background color */
    border-color: #4ee658; /* Darker blue border color */
    color: rgb(255, 255, 255);
}

button.fav:hover {
    background-color: gold; /* Darker blue background color */
    border-color: gold; /* Darker blue border color */
    color: black;
}

button.delete {
    background-color: #ffffff; /* Red background color */
    border-color: #dc3545; /* Red border color */
    color: #dc3545; /* White text color */
}

button.delete:hover {
    background-color: #dc3545; /* Darker red background color */
    border-color: #ffffff; /* Darker red border color */
    color: #ffffff;
}

.answer {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa; /* Light gray background color */
    border: 1px solid #ddd;
}

.disclaimer {
    font-size: 14px;
}

h4 {
    font-family: 'Schoolbell', cursive;
} 