<form #dictionaryForm="ngForm">
<h4>Dictionary Here:</h4>
<input type="text" [(ngModel)]="searchWord" name="word" placeholder="Word" required /> &nbsp;
<button class="btn btn-outline-dark" (click)="getDictionaryWord()" [disabled]="dictionaryForm.invalid">Look Up</button>
<br />
</form>

    <p>{{ dictionaryWordResult.word }}</p>
    <p>{{ dictionaryWordResult }}</p>
        <!-- <p>{{ dictionaryWordResult.meanings[0].partOfSpeech }}</p> -->
            <!-- <p>{{ d.definition }}</p>
            <p>{{ d.example }}</p> -->

    <!-- <p>{{ dictionaryWordResult.meanings }}</p> 
    <p>{{ dictionaryWordResult.meanings[0].partOfSpeech }}</p> -->

 <!-- <h5>{{ DisplayWord.word }}</h5>
<div *ngFor="let meaning of DisplayWord.meanings">
  <p>{{ meaning.partOfSpeech }}</p>
  <div *ngFor="let definition of meaning.definitions">
    <p>{{ definition.definition }}</p>
    <p>{{ definition.example }}</p>
  </div>
</div> -->


<br />