h4 {
    font-family: 'Schoolbell', cursive;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
}