/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* body {
  background-image: url("https://c8.alamy.com/comp/2FNTBC3/graph-paper-printable-striped-grid-paper-with-color-horizontal-lines-geometric-pattern-for-school-notebook-diary-realistic-lined-paper-blank-size-2FNTBC3.jpg");
} */

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.titleName, .favTitle {
  font-family: 'Schoolbell', cursive;
  text-align: center;
  font-size: 50px;
  color: #1b6ec2;
}

@media (max-width: 768px) {
  /* Reduce spacing for smaller screens */
  .btn,
  h4,
  input {
    margin-bottom: 8px;
  }
}
